body {
	overflow-x: hidden;
}

.contenedor{
	width: 800px;
	height: 250px;
	margin: auto;
	position: relative;
}

.background{
	background-image: url('../images/fondo01.png');
	background-size: cover;
	background-repeat:no-repeat;
    background-size:cover;
}

ul{
position: absolute;
margin-top: 15px;
}

/*.barramenu{
	align-items: flex-end;
	background: #2222;
}*/
li { 
	display: inline-block;
}

.barramenu a{
	display: inline-block;
	color: #FFFFFF;
	font-size: 15px;
	text-decoration: none;
	padding: 5px 20px;
	float: left;
}

.barramenu a:hover{
	background: #FFF;
	color: #000;
	border-radius: 5px 5px 5px 5px;
}


section#productos {
 /*display: inline;*/
}

.botones {
 margin-top: 100px;
}

.botones button{
 width: 200px;
}


.imagenes {
 margin-top: 50px;
}

.imagenes img{
 position: absolute;
}

.mleft {
 margin-left: 200px;
}

.fleft {
	float: left;
}

.mtop {
 margin-top: 100px;
}

.mtop1 {
	margin-top: 40px;
}

footer#foot {
	background: black;
}

form{
 width:400px;
 margin-bottom: 20px;
 padding: 10px 20px;
 border-radius: 7px;
 background-color: white;
 box-sizing:border-box;
 margin-top:20px;
 text-align: center;
 margin-right: 0;
}
input,textarea,select{
 width: 100%;
 margin-bottom: 20px;
 padding: 7px;
 box-sizing:border-box;
 font-size: 17px;
 border: none;
 background: #E9E9E9
}

form h2{
 color: #ff4136;
 font-size: 40px;
 margin-bottom: 20px;
 display:inline-block;
 font-family: inherit;
}
textarea{
 max-height: 200px;
 min-height:100px;
 max-width: 100%;
}
#boton{
 background-color: #ff4136;
 color: #fff;
 padding: 5px;
 border: none;
 width: 100%;
 font-family: inherit;
 font-weight: bolder;
 font-size: 2em;
}
#boton:hover{
 cursor:pointer;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 50px auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@media (max-width:480px){

  form{
   width:100%;
 } 

}